<div
  class="bg-blue-action-gradient-opacity min-h-screen max-h-[100%] w-[100%] font-mouseMemoirs px-[26px] pt-8 md:px-[48px] md:pt-[61px] lg:px-[112px] lg:pt-[80px]"
>
  <app-navigatio-header (newCategoryPlay)="newCategoryPlay()" (playAgain)="handlePlayAgainEvent()"></app-navigatio-header>
  <div>
    <!-- for upper game control -->
    <div class="min-h-[150px] max-h-full mt-[78px] flex flex-col items-center gap-4">
      <div *ngFor="let wordPart of word.split(' ')">
        <div class="flex items-center flex-wrap gap-2 md:gap-3 lg:gap-4">
          <div
            *ngFor="let letter of wordPart.split('')"
            [ngClass]="{
              'w-[40px] h-[66px] md:w-[88px] md:h-[112px] lg:w-[112px] lg:h-[128px] rounded-[40px] cursor-pointer': true,
              'bg-blue text-white lg:text-heading-s shadow-inner-custom-top-btn': !isSpecialLetter(letter),
              'bg-blue opacity-20 text-white text-heading-s shadow-inner-custom-top-btn': isSpecialLetter(letter)
            }"
          >
            <div
              class="w-[100%] h-[100%] shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
            >
              <p
                *ngIf="!isSpecialLetter(letter)"
                class="text-[40px] md:text-[64px] leading-[120%] lg:text-heading-l text-white"
              >
                {{ letter }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- for lower game keyboard control -->
    <div class="h-[300px] md:h-auto mt-[118px] flex flex-wrap gap-2 md:gap-4 lg:gap-6 items-center">
      <div *ngFor="let letter of alphabet">
        <!-- Active and hover -->
        <div (click)="isTheLetterIncludeInString(letter)"
          *ngIf="!isDisabledLetter(letter)"
          class="w-[28px] h-[56px] md:w-[64px] lg:w-[109px] md:h-[84px] bg-white rounded-[24px] lg:hover:bg-blue text-darkNavy lg:hover:text-white flex justify-center items-center mt-2 cursor-pointer"
        >
          <p class="text-[24px] md:text-heading-m">{{ letter }}</p>
        </div>
         <!-- Disabled div -->
        <div
          *ngIf="isDisabledLetter(letter)"
          class="w-[28px] h-[56px] md:w-[64px] lg:w-[109px] md:h-[84px] bg-white opacity-25 rounded-[24px] flex justify-center items-center mt-2"
        >
          <p class="text-[24px] md:text-heading-m text-darkNavy">{{ letter }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
