<div
  class="bg-blue-action-gradient-opacity min-h-screen max-h-[100%] w-[100%] font-mouseMemoirs flex flex-col justify-center items-center"
>
  <div
    class="w-[90%] h-[531px] md:w-[592px] md:h-[445px] bg-blue-gradient-opacity-80 rounded-[48px] text-white text-heading-s shadow-inner-custom-home2 cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] shadow-inner-custom-home1 rounded-[48px] flex flex-col items-center relative pb-[87px] md:pb-[71px]"
    >
      <img
        class="w-[263px] h-[130.2px] md:w-[373.69px] md:h-[180px] left-13 absolute -mt-16 md:left-28 md:-mt-24"
        src="../../../assets/images/you-lose.svg"
      />
      <div class="w-[275px] mt-[57px] h-[100%] flex flex-col items-center justify-end gap-[34px]">
        <div
          class="w-[226px] h-[62px] bg-blue rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn cursor-pointer"
        >
          <div
            class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
          >
            <p>CONTINUE</p>
          </div>
        </div>
        <div
          class="w-[100%] h-[62px] bg-blue rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn cursor-pointer"
        >
          <div
            class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
          >
            <p>NEW CATEGORY</p>
          </div>
        </div>
        <div
          class="w-[235px] h-[62px] bg-pink-gradient rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn2 cursor-pointer"
        >
          <div
            class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
          >
            <p>HOW TO PLAY</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
