<div
  class="bg-blue-action-gradient-opacity min-h-screen max-h-[100%] w-[100%] font-mouseMemoirs px-[26px] pt-8 md:px-[48px] md:pt-[61px] lg:px-[112px] lg:pt-[80px]"
>
  <app-navigatio-header [pageType]="pageType" (back)="backToHome()"/>
  <div class="w-[100%] mt-[79px] flex flex-col gap-4 md:flex-row flex-wrap md:justify-between">
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>MOVIES</p>
      </div>
    </div>
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>TV SHOWS</p>
      </div>
    </div>
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>COUNTRIES</p>
      </div>
    </div>
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>CAPITAL CITIES</p>
      </div>
    </div>
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>ANIMALS</p>
      </div>
    </div>
    <div
      class="w-[100%] h-[77px] md:w-[324px] md:h-[182px] lg:w-[350px] lg:h-[190px] bg-blue rounded-[20px] lg:rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
    >
      <div
        class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[20px] lg:rounded-[40px] flex justify-center items-center"
      >
        <p>SPORTS</p>
      </div>
    </div>
  </div>
</div>
