<div class="min-h-screen bg-custom-gradient font-mouseMemoirs">
  <h1 class="font-bold underline text-heading-m">Hello world!</h1>
  <div class="h-[150px] w-[200px] bg-pink-gradient"></div>
  <p class="text-white">button states</p>
  <div
    class="w-[260px] h-[62px] bg-blue rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
    >
      <p>HOW TO PLAY</p>
    </div>
  </div>
  <p class="text-white">default</p>
  <div
    class="w-[112px] h-[128px] mt-2 bg-blue rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
    >
      <p class="text-heading-l">A</p>
    </div>
  </div>
  <p class="text-white">disabled</p>
  <div
    class="w-[112px] h-[128px] mt-2 bg-blue opacity-20 rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
    ></div>
  </div>
  <p class="text-white">Selectable Category</p>
  <div
    class="w-[503px] h-[190px] bg-blue rounded-[40px] text-white text-heading-m shadow-inner-custom-top-btn cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
    >
      <p>HOW TO PLAY</p>
    </div>
  </div>
  <p class="text-white">button two states</p>
  <div
    class="w-[260px] h-[62px] bg-pink-gradient rounded-[40px] text-white text-heading-s shadow-inner-custom-top-btn2 cursor-pointer"
  >
    <div
      class="w-[100%] h-[100%] hover:bg-white-opacity-20 shadow-inner-custom-bottom-btn rounded-[40px] flex justify-center items-center"
    >
      <p>HOW TO PLAY</p>
    </div>
  </div>
</div>
