<div class="min-h-screen max-h-[100%] w-[100%] font-mouseMemoirs flex flex-col justify-center items-center">
  <div
    class="w-[90%]  h-[531px] md:w-[592px] md:h-[610px] bg-transparent rounded-[48px] text-white text-heading-s shadow-inner-custom-home2 cursor-pointer "
  >
    <div
      class="w-[100%] h-[100%] shadow-inner-custom-home1 rounded-[48px] flex flex-col relative"
    >
      <img class="w-[263px] h-[130.2px] md:w-[373.69px] md:h-[180px] left-8 absolute -mt-12 md:left-28 md:-mt-20" src="../../../assets/images/logo.svg">
    </div>
  </div>
</div>
