<div
  class="min-h-screen max-h-[100%] w-[100%] font-mouseMemoirs px-[26px] pt-8 md:px-[48px] md:pt-[61px] lg:px-[112px] lg:pt-[80px]"
>
  <app-navigatio-header />
  <div class="w-[100%] mt-[79px] flex flex-col lg:flex-row lg:justify-between items-center gap-6">
    <div
      class="container w-[100%] lg:w-[384px] h-[185px] lg:h-[550px] bg-white p-8 rounded-[20px] grid gap-4 md:grid-rows-2 md:grid-cols-2 md:grid-areas-tablet"
    >
      <div class="number flex items-center">
        <p class="text-blue text-[24px] md:text-heading-l">01</p>
      </div>
      <div class="title flex items-center">
        <p class="text-darkNavy text-[24px] md:text-[40px] lg:text-heading-m">
          Choose a category
        </p>
      </div>
      <div class="description">
        <p class="text-[#887DC0] leading-[120%] md:text-[20px] lg:text-body">
          First, choose a word category, like animals or movies. The computer
          then randomly selects a secret word from that topic and shows you
          blanks for each letter of the word.
        </p>
      </div>
    </div>
    <div
      class="container w-[100%] lg:w-[384px] h-[185px] lg:h-[550px] bg-white p-8 rounded-[20px] grid gap-4 md:grid-rows-2 md:grid-cols-2 md:grid-areas-tablet"
    >
      <div class="number flex items-center">
        <p class="text-blue text-[24px] md:text-heading-l">02</p>
      </div>
      <div class="title flex items-center">
        <p class="text-darkNavy text-[24px] md:text-[40px] lg:text-heading-m">Guess letters</p>
      </div>
      <div class="description">
        <p class="text-[#887DC0] leading-[120%] md:text-[20px] lg:text-body">
          Take turns guessing letters. The computer fills in the relevant blank
          spaces if your guess is correct. If it’s wrong, you lose some health,
          which empties after eight incorrect guesses.
        </p>
      </div>
    </div>
    <div
      class="container w-[100%] lg:w-[384px] h-[185px] lg:h-[550px] bg-white p-8 rounded-[20px] grid gap-4 md:grid-rows-2 md:grid-cols-2 md:grid-areas-tablet"
    >
      <div class="number flex items-center">
        <p class="text-blue text-[24px] md:text-heading-l">03</p>
      </div>
      <div class="title flex items-center">
        <p class="text-darkNavy text-[24px] md:text-[40px] lg:text-heading-m">Win or lose</p>
      </div>
      <div class="description">
        <p class="text-[#887DC0] leading-[120%] md:text-[20px] lg:text-body">
          You win by guessing all the letters in the word before your health
          runs out. If the health bar empties before you guess the word, you
          lose.
        </p>
      </div>
    </div>
  </div>
</div>
