<div class="w-[100%] h-[58px] lg:h-auto flex justify-between items-center md:justify-start">
    <div class="w-10 h-10 md:w-16 md:h-16 lg:w-[94px] lg:h-[94px] bg-pink-gradient rounded-full flex justify-center items-center">
        <img class="w-[17.45px] h-[16.17px] md:w-[28px] md:h-[26px] lg:w-[41px] lg:h-[38px]" src="../../../assets/images/icon-back.svg">
    </div>
    <div>
        <p class="gradient-text text-heading-m tracking-[5px] md:text-[104px] md:ml-[104px] lg:text-heading-xl lg:ml-[288px]">How to Play</p>
    </div>
</div>